# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mikhail\OneDrive\Документы\Тестирование программного обеспечения\Лабораторная работа №3\Коды\SoftwareTestingLW3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
